.animated-section {
  background-color: #222;
  height: 100%;
  width: 100%;
  padding: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 1;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  background-repeat: no-repeat;
  background-position: center;
  background-position: 50% 50%;
  background-size: cover
}

.start-page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.animated-sections {
  -webkit-perspective: 1500px;
  -moz-perspective: 1500px;
  perspective: 1500px;
}

.content {
  background-color: #222222;
}
