.header {
  height: 100vh !important;
}

@media only screen and (min-width:1025px) {
  .menu-toggle {
    display: none
  }
}


@media only screen and (max-width:768px) {
  .menu-toggle {
    top: 22px !important;
    right: 22px;
  }
}
