.header {
  height: 100vh !important;
}

@media only screen and (min-width:1025px) {
  .menu-toggle {
    display: none
  }
}


@media only screen and (max-width:768px) {
  .menu-toggle {
    top: 26px !important;
    right: 22px;
  }

  .ajax-page-wrapper {
    padding: 10px 30px 25px !important;
  }

  .ajax-page-nav {
    margin-top: 26px;
  }
}
